<!-- <div class="card mb-4">
    <div class="card-body p-4" >

      <div class="row align-items-center">
        <div class="col-md-2"  >
          <img  src="http://localhost:34300/Resources/Images/{{currProduct.image}}"
            class="img-fluid" alt="Generic placeholder image">
        </div>
        <div class="col-md-2 d-flex justify-content-center">
            <div>
              <p class="small text-muted mb-4 pb-2">No</p>
              <p class="lead fw-normal mb-0">{{currProduct.id}}</p>
            </div>
          </div>

        <div class="col-md-2 d-flex justify-content-center">
          <div>
            <p class="small text-muted mb-4 pb-2">Name</p>
            <p class="lead fw-normal mb-0">{{currProduct.name}}</p>
          </div>
        </div>
     
        <div class="col-md-2 d-flex justify-content-center">
          <div>
            <p class="small text-muted mb-4 pb-2">Price</p>
            <p class="lead fw-normal mb-0">{{currProduct.price |currency :' EGP '}}</p>
          </div>
        </div>
           
        <div class="col-md-2 d-flex justify-content-center">
            <div>
              <p class="small text-muted mb-4 pb-2">Quantity</p>
              <p class="lead fw-normal mb-0">{{currProduct.quantity}}</p>
            </div>
          </div>

          <div mat-dialog-action [align] = "'end'">
            <button mat-raised-button color="warn" mat-dialog-close class="btn btn-danger">Close</button>
            
          
          </div>
          
      </div>

    </div>
  </div> -->

  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="http://localhost:34300/Resources/Images/{{currProduct.image}}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{currProduct.name}}</h5>
          <p class="card-text">{{currProduct.price |currency :' EGP '}}</p>
          <p class="card-text"><small class="text-muted">Quantity : {{currProduct.quantity}}</small></p>
        </div>

        <div mat-dialog-action [align] = "'end'">
          <button mat-raised-button color="warn" mat-dialog-close class="btn btn-danger">x</button>
          
        
        </div>
      </div>
    </div>
  </div>