 <!--Main layout-->
 <main>
    <div class="container">

   

      <!-- product section -->
      <section class="product_section layout_padding">
        <div class="container">
           <div class="heading_container heading_center">
              <h2>
                 Our <span>products</span>
              </h2>
           </div>
           <div class="row">
              <div class="col-sm-6 col-md-4 col-lg-4 "*ngFor="let prd of productList ">
                <ng-container  *ngIf="prd.quantity!=0 ">
                 <div class="box">
                    <div class="option_container">
                       <div class="options">
                          <a href="" class="option1">
                            {{prd.name}}
                          </a>
                          <a class="option2" (click)="OpenProductDetails(prd.id)">
                        Details 
                          </a>
                       </div>
                    </div>
                    <div class="img-box">
                       <img src="http://localhost:34300/Resources/Images/{{prd.image}}" alt="">
                    </div>
                    <div class="detail-box">
                       <h4>
                        {{prd.name}}
                       </h4>
                     
                       <h4> Price
                        {{prd.price | currency :'$'}}
                       </h4>
                       <h4>
                         Quantity :
                        {{prd.quantity }}
                       </h4>
                    </div>
                 </div>
                </ng-container>
              </div>
         
        
      
             
      
           </div>
           <div class="btn-box">
              <a href="">
              View All products
              </a>
           
           </div>
           
        </div>
     </section>
 

    </div>
  </main>

  <app-footer></app-footer>